body
{
    background-color: #616161;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#main-container
{
    background-color: #424242;
    width: 500px;
    height: 650px;
    border-radius: 10px;
}

#header-container
{
    padding-top: 75px;
}

#display-container
{
    height: 80px;
    background-color: #616161;
    border: 10px solid #424242;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 20px;
    overflow: auto;
}

#display
{
    font-family: Raleway;
    color: white;
    font-size: 50px;
}

#buttons-container
{
    display: grid;
    grid-template-areas:
    "clear secondary-display secondary-display divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero point equal";
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 10px;
    background-color: #424242;
    padding: 10px;
}

#buttons-container button
{
    text-align: center;
    font-size: 30px;
    font-family: "Raleway", Arial;
    padding: 20px 0;
    color: white;
    border: 1px solid #FFA000;
}

#buttons-container button:hover
{
    cursor: pointer;
    opacity: 0.8;
}

#buttons-container button:active
{
    border: 1px solid #FF6F00;
}

#secondary-display
{
    border:1px solid #FF6F00;
    font-size:10px;
    background: linear-gradient(130deg, #ff7e00, #ffffff);
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

#clear {grid-area: clear; background-color: #616161;}
#secondary-display {grid-area: secondary-display; background-color: #616161;}
#divide {grid-area: divide; background-color: #0277BD;}
#seven {grid-area: seven; background-color: #616161;}
#eight {grid-area: eight; background-color: #616161;}
#nine {grid-area: nine; background-color: #616161;}
#multiply {grid-area: multiply; background-color: #0277BD;}
#four {grid-area: four; background-color: #616161;}
#five {grid-area: five; background-color: #616161;}
#six {grid-area: six; background-color: #616161;} 
#subtract {grid-area: subtract; background-color: #0277BD;}
#one {grid-area: one; background-color: #616161;}
#two {grid-area: two; background-color: #616161;}
#three {grid-area: three; background-color: #616161;}
#add {grid-area: add; background-color: #0277BD;}
#zero {grid-area: zero; background-color: #616161;}
#point {grid-area: point; background-color: #616161;}
#equal {grid-area: equal; background-color: #E65100;}